<?xml version='1.0' encoding='UTF-8'?>
<com.sonymobile.jenkins.plugins.mq.mqnotifier.MQNotifierConfig plugin="mq-notifier@1.2.3">
  <schemes>
    <string>amqp</string>
    <string>amqps</string>
  </schemes>
  <serverUri>{{ MQ_URL }}</serverUri>
  <userName>{{ MQ_USERNAME }}</userName>
  <userPassword>{{ MQ_PASSWORD }}</userPassword>
  <exchangeName>{{ MQ_EXCHANGE_NAME }}</exchangeName>
  <virtualHost>{{ MQ_VIRTUAL_HOST }}</virtualHost>
  <routingKey>{{ MQ_ROUTING_KEY }}</routingKey>
  <persistentDelivery>true</persistentDelivery>
  <appId></appId>
</com.sonymobile.jenkins.plugins.mq.mqnotifier.MQNotifierConfig>
